<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Leave Request
      <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Leave Request</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="row" *ngIf="createActive">
      <div class="col-sm-12">
        <div class="box">
          <div class="box-header with-border">
            <div class="row">
              <div class="col-sm-6">
                <h3 class="box-title">Create Leave Request</h3>
              </div>
              <div class="col-sm-6 text-right">
                <button class="btn btn-sm btn-danger" (click)="cancelCreate()">Cancel</button>
              </div>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <form action="javascript:" [formGroup]="createForm" (ngSubmit)="createLeaveRequest()">
              <div class="form-group">
                <label>Leave Reason:</label>
                <textarea class="form-control" name="reason" formControlName="reason"></textarea>
              </div>
              <div class="form-group">
                <label>Start Date:</label>
                <input type="datetime-local" class="form-control" name="startDate" formControlName="startDate" (change)="getBusinessDatesCount(createForm.value.startDate, createForm.value.endDate)">
              </div>
              <div class="form-group">
                <label>End Date:</label>
                <input type="datetime-local" class="form-control" name="endDate" formControlName="endDate" (change)="getBusinessDatesCount(createForm.value.startDate, createForm.value.endDate)">
              </div>
              <div class="form-group">
                <label>Working Day:</label>
                {{workDay}}
              </div>
              <div class="form-group">
                <label>Leave Request Type:</label>
                <select class="form-control" name="leaveTypeId" formControlName="leaveTypeId" (change)="changeLeaveType(createForm.value.leaveTypeId)">
                  <option *ngFor="let leaveType of leaveTypes" value="{{leaveType.id}}">{{leaveType.name}}</option>
                </select>
              </div>
              <div class="form-group" *ngIf="selectedLeaveType">
                <label>Pay Cut:</label>
                ${{payCut}}
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
    </div>

    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-sm-12">
        <div class="box">
          <div class="box-header with-border">
            <div class="row">
              <div class="col-sm-6">
                <h3 class="box-title">Your All Leave Requestes</h3>
              </div>
              <div class="col-sm-6 text-right">
                <button class="btn btn-sm btn-success" (click)="create()">Create Leave Request</button>
              </div>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">
              <table class="table table-bordered">
                <tbody>
                <tr>
                  <th>Leave Type</th>
                  <th>Reason</th>
                  <th>Created At</th>
                  <th>Leave Start At</th>
                  <th>Leave And At</th>
                  <th>Status</th>
                  <th>Manager Name</th>
                  <th>Manager Remark</th>
                  <th class="text-right">Action</th>
                </tr>
                <tr *ngFor="let leave of userLeaves">
                  <td width="15%">{{leave.leaveType}}</td>
                  <td width="20%">{{leave.reason}}</td>
                  <td>{{leave.createdAt | date:'dd.MM.yyy HH:mm'}}</td>
                  <td>{{leave.startDate | date:'dd.MM.yyy HH:mm'}}</td>
                  <td>{{leave.endDate | date:'dd.MM.yyy HH:mm'}}</td>
                  <td *ngIf="leave.status == 0">Waiting For Evaluation</td>
                  <td *ngIf="leave.status == 1">Approved</td>
                  <td *ngIf="leave.status == 2">Declined</td>
                  <td>{{leave.status != 0 ? leave.managerName : '-'}}</td>
                  <td width="20%">{{leave.status != 0 ? leave.remark : '-'}}</td>
                  <td class="text-right">
                    <button *ngIf="leave.status == 0" class="btn btn-sm btn-danger" (click)="delete(leave.id)">Cancel</button>
                  </td>
                </tr>
                </tbody></table>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <!-- /.row (main row) -->

  </section>
  <!-- /.content -->
</div>
