<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">MAIN NAVIGATION</li>
      <li>
        <a [routerLink]="['home']">
          <i class="fa fa-th"></i> <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['departments']" *ngIf="role == 'manager'">
          <i class="fa fa-building"></i> <span>Departments</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['leavetype']" *ngIf="role == 'manager'">
          <i class="fa fa-info"></i> <span>Leave Types</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['leaverequest']" *ngIf="role == 'manager'">
          <i class="fa fa-building"></i> <span>Manage Leave Request</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['userleaves']">
          <i class="fa fa-plus"></i> <span>Leave Request</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['project']">
          <i class="fa fa-suitcase"></i> <span>Projects</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['employee']" *ngIf="role == 'manager'">
          <i class="fa fa-user"></i> <span>Employees</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['tasks']" *ngIf="role == 'manager'">
          <i class="fa fa-tasks"></i> <span>Tasks</span>
        </a>
      </li>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>
