<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Tasks
      <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Tasks</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="row" *ngIf="createActive">
      <div class="col-sm-12">
        <div class="box">
          <div class="box-header with-border">
            <div class="row">
              <div class="col-sm-6">
                <h3 class="box-title">Create Task</h3>
              </div>
              <div class="col-sm-6 text-right">
                <button class="btn btn-sm btn-danger" (click)="cancelCreate()">Cancel</button>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <form action="javascript:" [formGroup]="createForm" (ngSubmit)="createTask()">
                  <div class="form-group">
                    <label>Task Name:</label>
                    <input type="text" class="form-control" name="name" formControlName="name"
                           placeholder="Enter task name">
                  </div>
                  <div class="form-group">
                    <label>Task Description:</label>
                    <input type="text" class="form-control" name="description" formControlName="description"
                           placeholder="Enter task description">
                  </div>
                  <div class="form-group">
                    <label>Task Type:</label>
                    <select name="type" formControlName="type" class="form-control" formControlName="type">
                      <option class="bg bg-gray" value="0">Story</option>
                      <option class="bg bg-gray" value="1">Task</option>
                      <option class="bg bg-gray" value="2">Bug</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Task Priority:</label>
                    <select name="priority" formControlName="priority" class="form-control" formControlName="priority">
                      <option class="bg bg-light-blue-gradient" value="0">Lowest</option>
                      <option class="bg bg-light-blue" value="1">Middle</option>
                      <option class="bg bg-light-blue-active" value="2">Highest</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Task Status:</label>
                    <select name="status" formControlName="status" class="form-control">
                      <option class="bg bg-aqua" value="0">To Do</option>
                      <option class="bg bg-success" value="1">In Progress</option>
                      <option class="bg bg-green" value="2">Done</option>
                      <option class="bg bg-danger" value="3">Terminated</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Project Name:</label>
                    <select class="form-control" name="projectId" formControlName="projectId">
                      <option *ngFor="let project of projects" value="{{project.id}}">{{project.name}}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Task Assigned Employee Name:</label>
                    <select class="form-control" name="assignedEmployeeId" formControlName="assignedEmployeeId">
                      <option *ngFor="let employee of employees" value="{{employee.id}}">{{employee.firstName}} {{employee.lastName}}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Task Start Date:</label>
                    <input type="datetime-local" name="startDate" formControlName="startDate" class="form-control">
                  </div>
                  <div class="form-group">
                    <label>Task End Date:</label>
                    <input type="datetime-local" name="endDate" formControlName="endDate" class="form-control">
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save</button>
                  </div>
                </form>
              </div>
              <!-- /.box-body -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="editActive != null">
      <div class="col-sm-12">
        <div class="box">
          <div class="box-header with-border">
            <div class="row">
              <div class="col-sm-6">
                <h3 class="box-title">Edit Task</h3>
              </div>
              <div class="col-sm-6 text-right">
                <button class="btn btn-sm btn-danger" (click)="cancelEdit()">Cancel</button>
              </div>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <form action="javascript:" [formGroup]="editForm" (ngSubmit)="saveTask()">
              <div class="form-group">
                <label>Project Name:</label>
                <input type="text" class="form-control" name="name" formControlName="name"
                       placeholder="Enter task name">
              </div>
              <div class="form-group">
                <label>Task Description:</label>
                <input type="text" class="form-control" name="description" formControlName="description">
              </div>
              <div class="form-group">
                <label>Task Type:</label>
                <select name="type" formControlName="type" class="form-control">
                  <option class="bg bg-gray" value="0">Story</option>
                  <option class="bg bg-gray" value="1">Task</option>
                  <option class="bg bg-gray" value="2">Bug</option>
                </select>
              </div>
              <div class="form-group">
                <label>Task Priority:</label>
                <select name="priority" formControlName="priority" class="form-control">
                  <option class="bg bg-light-blue-gradient" value="0">Lowest</option>
                  <option class="bg bg-light-blue" value="1">Middle</option>
                  <option class="bg bg-light-blue-active" value="2">Highest</option>
                </select>
              </div>
              <div class="form-group">
                <label>Task Status:</label>
                <select name="status" formControlName="status" class="form-control">
                  <option class="bg bg-aqua" value="0">To Do</option>
                  <option class="bg bg-success" value="1">In Progress</option>
                  <option class="bg bg-green" value="2">Done</option>
                  <option class="bg bg-danger" value="3">Terminated</option>
                </select>
              </div>
              <div class="form-group">
                <label>Task Start Date:</label>
                <input type="datetime-local" name="startDate" formControlName="startDate" class="form-control">
              </div>
              <div class="form-group">
                <label>Task End Date:</label>
                <input type="datetime-local" name="endDate" formControlName="endDate" class="form-control">
              </div>
              <div class="form-group">
                <label>Project Name:</label>
                <select class="form-control" name="projectId" formControlName="projectId">
                  <option *ngFor="let project of projects" value="{{project.id}}">{{project.name}}</option>
                </select>
              </div>
              <div class="form-group">
                <label>Task Assigned Employee Name:</label>
                <select class="form-control" name="assignedEmployeeId" formControlName="assignedEmployeeId">
                  <option *ngFor="let employee of employees" value="{{employee.id}}">{{employee.firstName}} {{employee.lastName}}</option>
                </select>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-sm-12">
        <div class="box">
          <div class="box-header with-border">
            <div class="row">
              <div class="col-sm-6">
                <h3 class="box-title">Tasks</h3>
              </div>
              <div class="col-sm-6 text-right">
                <button class="btn btn-sm btn-success" (click)="create()">Create Task</button>
              </div>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table class="table table-bordered">
              <tbody>
              <tr>
                <th class="text-center">Task Name</th>
                <th class="text-center">Task Description</th>
                <th class="text-center">Task Type</th>
                <th class="text-center">Task Priority</th>
                <th class="text-center">Task Status</th>
                <th class="text-center">Task Start Date</th>
                <th class="text-center">Task End Date</th>
                <th class="text-center">Project Name</th>
                <th class="text-center">Task Assigner Name</th>
                <th class="text-center">Task Assigned Name</th>
                <th class="text-center">Actions</th>
              </tr>
              <tr *ngFor="let task of userTasks">
                <td>{{task.name}}</td>
                <td>{{task.description}}</td>

                <!--
                  0 = story
                  1 = task
                  2 = bug
                -->
                <td *ngIf="task.type == 0">
                  Story
                </td>
                <td *ngIf="task.type == 1">
                  Task
                </td>
                <td *ngIf="task.type == 2">
                  bug
                </td>

                <!--
                  0 = lowest
                  1 = middle
                  2 = highest
                -->
                <td *ngIf="task.priority == 0">
                  Low
                </td>
                <td *ngIf="task.priority == 1">
                  Middle
                </td>
                <td *ngIf="task.priority == 2">
                  High
                </td>

                <!--
                  0 = to do
                  1 = in progress
                  2 = done
                  3 = terminated
                -->
                <td *ngIf="task.status == 0">
                  To Do
                </td>
                <td *ngIf="task.status == 1">
                  In Progress
                </td>
                <td *ngIf="task.status == 2">
                  Done
                </td>
                <td *ngIf="task.status == 3">
                  Terminated
                </td>

                <td>{{task.startDate | date: 'dd.MM.yyyy HH:mm'}}</td>
                <td>{{task.endDate | date: 'dd.MM.yyyy HH:mm'}}</td>
                <td>{{task.projectName}}</td>
                <td>{{task.assignerEmployeeName}}</td>
                <td>{{task.assignedEmployeeName}}</td>
                <td class="text-center">
                  <button class="btn btn-sm btn-danger" (click)="delete(task.id)">Delete</button>
                  <button class="btn btn-sm btn-warning" (click)="edit(task.id)">Edit</button>
                </td>
              </tr>
              </tbody></table>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <!-- /.row (main row) -->

  </section>
  <!-- /.content -->
</div>
