<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Leave Types
      <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">LeaveTypes</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="row" *ngIf="createActive">
      <div class="col-sm-12">
        <div class="box">
          <div class="box-header with-border">
            <div class="row">
              <div class="col-sm-6">
                <h3 class="box-title">Create Leave Type</h3>
              </div>
              <div class="col-sm-6 text-right">
                <button class="btn btn-sm btn-danger" (click)="cancelCreate()">Cancel</button>
              </div>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <form action="javascript:" [formGroup]="createForm" (ngSubmit)="createLeaveType()">
              <div class="form-group">
                <label>Leave Types:</label>
                <input type="email" class="form-control" name="name" formControlName="name" placeholder="Enter Leave Type">
              </div>
              <div class="form-group">
                <label>Paid/Unpaid</label>
                <select name="type" class="form-control" formControlName="type">
                  <option value="true">Paid</option>
                  <option value="false">Unpaid</option>
                </select>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
    </div>

    <div class="row" *ngIf="editActive != null">
      <div class="col-sm-12">
        <div class="box">
          <div class="box-header with-border">
            <div class="row">
              <div class="col-sm-6">
                <h3 class="box-title">Edit Leave Type</h3>
              </div>
              <div class="col-sm-6 text-right">
                <button class="btn btn-sm btn-danger" (click)="cancelEdit()">Cancel</button>
              </div>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <form action="javascript:" [formGroup]="editForm" (ngSubmit)="saveLeaveType()">
              <div class="form-group">
                <label>LeaveType Name:</label>
                <input type="email" class="form-control" name="name" formControlName="name" placeholder="Enter LeaveType">
              </div>
              <div class="form-group">
                <label>Paid/Unpaid</label>
                <select name="type" class="form-control" formControlName="type">
                  <option value="true">Paid</option>
                  <option value="false">Unpaid</option>
                </select>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
    </div>

    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-sm-12">
        <div class="box">
          <div class="box-header with-border">
            <div class="row">
              <div class="col-sm-6">
                <h3 class="box-title">All Leave Types</h3>
              </div>
              <div class="col-sm-6 text-right">
                <button class="btn btn-sm btn-success" (click)="create()">Create Leave Type</button>
              </div>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">
              <table class="table table-bordered">
                <tbody>
                <tr>
                  <th width="70%">Name</th>
                  <th>Paid / Unpaid</th>
                  <th class="text-right">Action</th>
                </tr>
                <tr *ngFor="let leavetype of leavetypes">
                  <td>{{leavetype.name}}</td>
                  <td>{{leavetype.type == true ? 'Paid' : 'Unpaid'}}</td>
                  <td class="text-right">
                    <button class="btn btn-sm btn-danger" (click)="delete(leavetype.id)">Delete</button>
                    <button class="btn btn-sm btn-warning" (click)="edit(leavetype.id)">Edit</button>
                  </td>
                </tr>
                </tbody></table>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <!-- /.row (main row) -->

  </section>
  <!-- /.content -->
</div>
