<div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html"><b>Personnel</b>LMS</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

    <form class="register-form outer-top-xs" action="javascript:" [formGroup]="formLogin" (ngSubmit)="login()">
      <div class="alert alert-danger alert-dismissible" *ngIf="loginError && formLogin.valid">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-ban"></i> Error!</h4>
        Email or password incorrect.
      </div>
      <div class="form-group">
        <label class="info-title">Email <span class="asterisk">*</span></label>
        <input type="email" class="form-control unicase-form-control text-input form-danger" name="username"
               formControlName="username" placeholder="example@mail.com">
        <div class="messages text-danger" *ngIf="loginError && formLogin.controls.username.errors?.required">
          Email should not be empty
        </div>
        <div class="messages text-danger"
             *ngIf="!formLogin.controls.username.errors?.required && formLogin.controls.username.invalid">
          Invalid email format
        </div>
      </div>
      <div class="form-group">
        <label class="info-title">Parola <span class="asterisk">*</span></label>
        <input type="password" class="form-control unicase-form-control text-input" name="password"
               formControlName="password">
        <div class="messages text-danger" *ngIf="loginError && formLogin.controls.password.errors?.required">
          Password should not be empty
        </div>
      </div>
      <button type="submit" class="btn-upper btn btn-primary checkout-page-button">
        Login
      </button>
    </form>

  </div>
  <!-- /.login-box-body -->
</div>
