<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Departments
      <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Departments</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="row" *ngIf="createActive">
      <div class="col-sm-12">
        <div class="box">
          <div class="box-header with-border">
            <div class="row">
              <div class="col-sm-6">
                <h3 class="box-title">Create Department</h3>
              </div>
              <div class="col-sm-6 text-right">
                <button class="btn btn-sm btn-danger" (click)="cancelCreate()">Cancel</button>
              </div>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <form action="javascript:" [formGroup]="createForm" (ngSubmit)="createDepartment()">
              <div class="form-group">
                <label>Department Name:</label>
                <input type="email" class="form-control" name="name" formControlName="name" placeholder="Enter department name">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
    </div>

    <div class="row" *ngIf="editActive != null">
      <div class="col-sm-12">
        <div class="box">
          <div class="box-header with-border">
            <div class="row">
              <div class="col-sm-6">
                <h3 class="box-title">Edit Department</h3>
              </div>
              <div class="col-sm-6 text-right">
                <button class="btn btn-sm btn-danger" (click)="cancelEdit()">Cancel</button>
              </div>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <form action="javascript:" [formGroup]="editForm" (ngSubmit)="saveDepartment()">
              <div class="form-group">
                <label>Department Name:</label>
                <input type="email" class="form-control" name="name" formControlName="name" placeholder="Enter department name">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
    </div>

    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-sm-12">
        <div class="box">
          <div class="box-header with-border">
              <div class="row">
                <div class="col-sm-6">
                  <h3 class="box-title">All Departments</h3>
                </div>
                <div class="col-sm-6 text-right">
                  <button class="btn btn-sm btn-success" (click)="create()">Create Department</button>
                </div>
              </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">
              <table class="table table-bordered">
                <tbody>
                <tr>
                  <th width="80%">Name</th>
                  <th class="text-right">Action</th>
                </tr>
                <tr *ngFor="let department of departments">
                  <td>{{department.name}}</td>
                  <td class="text-right">
                    <button class="btn btn-sm btn-danger" (click)="delete(department.id)">Delete</button>
                    <button class="btn btn-sm btn-warning" (click)="edit(department.id)">Edit</button>
                  </td>
                </tr>
                </tbody></table>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <!-- /.row (main row) -->

  </section>
  <!-- /.content -->
</div>
