<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Employees
      <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Employee</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="row" *ngIf="createActive">
      <div class="col-sm-12">
        <div class="box">
          <div class="box-header with-border">
            <div class="row">
              <div class="col-sm-6">
                <h3 class="box-title">Create Employee</h3>
              </div>
              <div class="col-sm-6 text-right">
                <button class="btn btn-sm btn-danger" (click)="cancelCreate()">Cancel</button>
              </div>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <form [formGroup]="createForm" (ngSubmit)="createEmployee()">
              <div class="form-group">
                <label>Employee Name</label>
                <input type="text" class="form-control" name="name" formControlName="name"
                       placeholder="Enter Name">
              </div>
              <div class="form-group">
                <label>Employee Surname</label>
                <input type="text" class="form-control" name="surname" formControlName="surname"
                       placeholder="Enter Surname">
              </div>
              <div class="form-group">
                <label>Employee Mail</label>
                <input name="email" type="email" formControlName="email"
                       class="form-control" placeholder="Enter EMail">
              </div>
              <div class="form-group">
                <label>Employee Password</label>
                <input name="password" type="text" formControlName="password"
                       class="form-control" placeholder="Enter Password">
              </div>
              <div class="form-group">
                <label>Employee Start Date</label>
                <input type="datetime-local" name="startDate" formControlName="startDate" class="form-control">
              </div>
              <div class="form-group">
                <label>Employee Address</label>
                <input type="text" name="address" formControlName="address"
                       class="form-control" placeholder="Enter address">
              </div>
              <div class="form-group">
                <label>Employee Phone Number</label>
                <input type="number" name="phoneNumber" formControlName="phoneNumber"
                       class="form-control">
              </div>
              <div class="form-group">
                <label>Employee Gender</label>
                <select name="gender" formControlName="gender" class="form-control">
                  <option value="0">Female</option>
                  <option value="1" selected>Male</option>
                </select>
              </div>
              <div class="form-group">
                <label>Employee Salary</label>
                <input type="number" min="0" name="salary" formControlName="salary"
                       class="form-control">
              </div>
              <div class="form-group">
                <label>Employee Role</label>
                <select name="role" formControlName="role" class="form-control">
                  <option value="user" selected>User</option>
                  <option value="manager">Manager</option>
                </select>
              </div>
              <div class="form-group">
                <label>Employee Department</label>
                <select name="department" formControlName="department" class="form-control">
                  <option *ngFor="let dep of departments" [value]="dep.id">{{dep.name}}</option>
                </select>
              </div>
              <div class="form-group">
                <label>Employee Working Day per Month</label>
                <input type="number" name="totalWorkingHours" formControlName="totalWorkingHours"
                       class="form-control">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
    </div>

    <div class="row" *ngIf="editActive != null">
      <div class="col-sm-12">
        <div class="box">
          <div class="box-header with-border">
            <div class="row">
              <div class="col-sm-6">
                <h3 class="box-title">Edit Employee</h3>
              </div>
              <div class="col-sm-6 text-right">
                <button class="btn btn-sm btn-danger" (click)="cancelEdit()">Cancel</button>
              </div>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <form [formGroup]="editForm" (ngSubmit)="saveEmployee()">
              <div class="form-group">
                <label>Employee Name</label>
                <input type="text" class="form-control" name="name" formControlName="name"
                       placeholder="Enter Name">
              </div>
              <div class="form-group">
                <label>Employee Surname</label>
                <input type="text" class="form-control" name="surname" formControlName="surname"
                       placeholder="Enter Surname">
              </div>
              <div class="form-group">
                <label>Employee Mail</label>
                <input name="email" type="email" formControlName="email"
                       class="form-control" placeholder="Enter EMail">
              </div>
              <div class="form-group">
                <label>Employee Password</label>
                <input name="password" type="text" formControlName="password"
                       class="form-control" placeholder="Enter Password">
              </div>
              <div class="form-group">
                <label>Employee Start Date</label>
                <input type="datetime-local" name="startDate" formControlName="startDate" class="form-control">
              </div>
              <div class="form-group">
                <label>Employee Address</label>
                <input type="text" name="address" formControlName="address"
                       class="form-control" placeholder="Enter address">
              </div>
              <div class="form-group">
                <label>Employee Phone Number</label>
                <input type="number" name="phoneNumber" formControlName="phoneNumber"
                       class="form-control">
              </div>
              <div class="form-group">
                <label>Employee Gender</label>
                <select name="gender" formControlName="gender" class="form-control">
                  <option value="0">Female</option>
                  <option value="1" selected>Male</option>
                </select>
              </div>
              <div class="form-group">
                <label>Employee Salary</label>
                <input type="number" min="0" name="salary" formControlName="salary"
                       class="form-control">
              </div>
              <div class="form-group">
                <label>Employee Role</label>
                <select name="role" formControlName="role" class="form-control">
                  <option value="user" selected>User</option>
                  <option value="manager">Manager</option>
                </select>
              </div>
              <div class="form-group">
                <label>Employee Department</label>
                <select name="department" formControlName="department" class="form-control">
                  <option *ngFor="let dep of departments" [value]="dep.id">{{dep.name}}</option>
                </select>
              </div>
              <div class="form-group">
                <label>Employee Working Day per Month</label>
                <input type="number" name="totalWorkingHours" formControlName="totalWorkingHours"
                       class="form-control">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
    </div>

    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-sm-12">
        <div class="box">
          <div class="box-header with-border">
            <div class="row">
              <div class="col-sm-6">
                <h3 class="box-title">All Employee</h3>
              </div>
              <div class="col-sm-6 text-right">
                <button class="btn btn-sm btn-success" (click)="create()">Create Employee</button>
              </div>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">
              <table class="table table-bordered table-striped">
                <tbody>
                <tr>
                  <th class="text-center">Employee Name</th>
                  <th class="text-center">Employee Mail</th>
                  <th class="text-center">Employee Start Date</th>
                  <th class="text-center">Employee Address</th>
                  <th class="text-center">Employee Phone Number</th>
                  <th class="text-center">Employee Gender</th>
                  <th class="text-center">Employee Status</th>
                  <th class="text-center">Employee Salary</th>
                  <th class="text-center">Employee Role</th>
                  <th class="text-center">Employee Department</th>
                  <th class="text-center">Employee Working Day In Month</th>
                  <th class="text-center">Actions</th>
                </tr>
                <tr *ngFor="let emp of employees">
                  <td>{{emp.firstName}} {{emp.lastName}}</td>
                  <td>{{emp.email}}</td>
                  <td>{{emp.startDate | date:'dd.MM.yyy HH:mm'}}</td>
                  <td>{{emp.address}}</td>
                  <td>{{emp.phoneNumber}}</td>
                  <td *ngIf="emp.gender == 0">Female</td>
                  <td *ngIf="emp.gender == 1">Male</td>
                  <td *ngIf="emp.status == 0">On Leave</td>
                  <td *ngIf="emp.status == 1">Still Working</td>
                  <td>{{emp.salary}}</td>
                  <td *ngIf="emp.role == 'manager'">Manager</td>
                  <td *ngIf="emp.role == 'user'">User</td>
                  <td>{{emp.department}}</td>
                  <td>{{emp.workingDayPerMonth}}</td>
                  <td width="8%" class="text-right">
                    <button class="btn btn-sm btn-danger" (click)="delete(emp.id)">Delete</button>
                    <button class="btn btn-sm btn-warning" (click)="edit(emp.id)">Edit</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
