<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Leave Request
      <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Leave Request</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="row" *ngIf="evaluateActive != null">
      <div class="col-sm-12">
        <div class="box">
          <div class="box-header with-border">
            <div class="row">
              <div class="col-sm-6">
                <h3 class="box-title">Create Leave Request</h3>
              </div>
              <div class="col-sm-6 text-right">
                <button class="btn btn-sm btn-danger" (click)="cancelEvaluation()">Cancel</button>
              </div>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <form action="javascript:" [formGroup]="evaluateForm" (ngSubmit)="evaluateLeaveRequest()">
              <div class="form-group">
                <label>Remark:</label>
                <textarea class="form-control" name="remark" formControlName="remark"></textarea>
              </div>
              <div class="form-group">
                <label>Action:</label>
                <select class="form-control" name="status" formControlName="status">
                  <option value="1">Approved</option>
                  <option value="2">Declined</option>
                </select>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
    </div>
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-sm-12">
        <div class="box">
          <div class="box-header with-border">
            <div class="row">
              <div class="col-sm-6">
                <h3 class="box-title">All Leave Requestes</h3>
              </div>
              <div class="col-sm-6 text-right">
              </div>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">
              <table class="table table-bordered table-striped">
                <tbody>
                <tr>
                  <th>Employee Name</th>
                  <th>Leave Type</th>
                  <th>Reason</th>
                  <th>Created At</th>
                  <th>Leave Start At</th>
                  <th>Leave End At</th>
                  <th>Status</th>
                  <th>Manager Name</th>
                  <th>Manager Remark</th>
                  <th class="text-right">Action</th>
                </tr>
                <tr *ngFor="let leave of leaves">
                  <td>{{leave.employeeName}}</td>
                  <td width="15%">{{leave.leaveType}}</td>
                  <td width="20%">{{leave.reason}}</td>
                  <td>{{leave.createdAt | date:'dd.MM.yyy HH:mm'}}</td>
                  <td>{{leave.startDate | date:'dd.MM.yyy HH:mm'}}</td>
                  <td>{{leave.endDate | date:'dd.MM.yyy HH:mm'}}</td>
                  <td *ngIf="leave.status == 0">Waiting For Evaluation</td>
                  <td *ngIf="leave.status == 1">Approved</td>
                  <td *ngIf="leave.status == 2">Declined</td>
                  <td>{{leave.status != 0 ? leave.managerName : '-'}}</td>
                  <td width="20%">{{leave.status != 0 ? leave.remark : '-'}}</td>
                  <td class="text-right">
                    <button *ngIf="leave.status == 0" class="btn btn-sm btn-success" (click)="evaluate(leave.id)">Evaluate</button>
                  </td>
                </tr>
                </tbody></table>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <!-- /.row (main row) -->

  </section>
  <!-- /.content -->
</div>
