<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Projects
      <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">Projects</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <div class="row" *ngIf="createActive">
      <div class="col-sm-12">
        <div class="box">
          <div class="box-header with-border">
            <div class="row">
              <div class="col-sm-6">
                <h3 class="box-title">Create Project</h3>
              </div>
              <div class="col-sm-6 text-right">
                <button class="btn btn-sm btn-danger" (click)="cancelCreate()">Cancel</button>
              </div>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <form action="javascript:" [formGroup]="createForm" (ngSubmit)="createProject()">
              <div class="form-group">
                <label>Project Name:</label>
                <input type="text" class="form-control" name="name" formControlName="name"
                       placeholder="Enter project name">
              </div>
              <div class="form-group">
                <label>Project Description:</label>
                <input type="text" class="form-control" name="description" formControlName="description"
                       placeholder="Enter project description">
              </div>
              <div class="form-group">
                <label>Project Start Date</label>
                <input type="datetime-local" name="startDate" formControlName="startDate" class="form-control">
              </div>
              <div class="form-group">
                <label>Project End Date</label>
                <input type="datetime-local" name="endDate" formControlName="endDate" class="form-control">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
    </div>

    <div class="row" *ngIf="editActive != null">
      <div class="col-sm-12">
        <div class="box">
          <div class="box-header with-border">
            <div class="row">
              <div class="col-sm-6">
                <h3 class="box-title">Edit Project</h3>
              </div>
              <div class="col-sm-6 text-right">
                <button class="btn btn-sm btn-danger" (click)="cancelEdit()">Cancel</button>
              </div>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <form action="javascript:" [formGroup]="editForm" (ngSubmit)="saveProject()">
              <div class="form-group">
                <label>Project Name:</label>
                <input type="text" class="form-control" name="name" formControlName="name"
                       placeholder="Enter project name">
              </div>
              <div class="form-group">
                <label>Project Description:</label>
                <input type="text" class="form-control" name="description" formControlName="description"
                       placeholder="Enter project description">
              </div>
              <div class="form-group">
                <label>Project Status</label>
                <select name="status" formControlName="status" class="form-control">
                  <option class="bg bg-success" value="0">Active</option>
                  <option class="bg bg-warning" value="1">In Progress</option>
                  <option class="bg bg-danger" value="2">Passive</option>
                  <option class="bg bg-gray" value="3">Terminated</option>
                </select>
              </div>
              <div class="form-group">
                <label>Project Start Date</label>
                <input type="datetime-local" name="startDate" formControlName="startDate" class="form-control">
              </div>
              <div class="form-group">
                <label>Project End Date</label>
                <input type="datetime-local" name="endDate" formControlName="endDate" class="form-control">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
    </div>

    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-sm-12">
        <div class="box">
          <div class="box-header with-border">
            <div class="row">
              <div class="col-sm-6">
                <h3 class="box-title">All Projects</h3>
              </div>
              <div class="col-sm-6 text-right">
                <button class="btn btn-sm btn-success" (click)="create()">Create Project</button>
              </div>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">
              <table class="table table-bordered">
                <tbody>
                <tr>
                  <th width="15%">Project Name</th>
                  <th class="text-center">Project Description</th>
                  <th class="text-center">Project Status</th>
                  <th class="text-center">Project Start Date</th>
                  <th class="text-center">Project End Date</th>
                  <th class="text-center">Who created project</th>
                  <th class="text-center">Actions</th>
                </tr>
                <tr *ngFor="let project of projects">
                  <td>{{project.name}}</td>
                  <td>{{project.description}}</td>
                  <td *ngIf="project.status == 0">
                    Active
                  </td>
                  <td *ngIf="project.status == 1">
                    In Progress
                  </td>
                  <td *ngIf="project.status == 2">
                    Passive
                  </td>
                  <td *ngIf="project.status == 3">
                    Terminated
                  </td>

                  <td>{{project.startDate | date:'dd.MM.yyy HH:mm'}}</td>
                  <td>{{project.endDate | date:'dd.MM.yyy HH:mm'}}</td>
                  <td>{{project.cratedBy}}</td>
                  <td class="text-right">
                    <button class="btn btn-sm btn-danger" (click)="delete(project.id)">Delete</button>
                    <button class="btn btn-sm btn-warning" (click)="edit(project.id)">Edit</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /.box-body -->
        </div>
      </div>
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <!-- /.row (main row) -->

  </section>
  <!-- /.content -->
</div>
